.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  > article {

    // Article Header
    > header {

      > figure, h1, address, p, section {
        margin-bottom: 1rem;
      }

      > figure {
        height: 350px;
        position: relative;
        > img {
          object-fit: cover;
          border: 1rem solid white;
          filter: grayscale(1);
        }
      }
      > h1 {
        font-size: xxx-large;
      }
      > address {
        display: flex;
        align-items: center;
        > img {
          vertical-align: middle;
          border-radius: 100%;
          border: .2rem solid gold;
          margin: 0 .5rem 0 0;
        }
      }
      > p {
        font-size: x-large;
      }
    }
  }
}
