.main {
  display: flex;
}

ul.imageGallery {
  list-style: none;

  li {
    figure {
      aspect-ratio: 1 / 1;
      position: relative;
      padding: 15px;
      img {
        object-fit: cover;
        z-index: -1;
        border: 5px solid white;
      }
      figcaption {
        z-index: 1;
      }
    }
  }
}
