.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  > header > a {
    text-decoration: none;
    > h1 {
      font-size: 3rem;
      text-align: center;
    }
  }
  > nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    > a {
      min-height: 3rem;
      min-width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
  }
}

.isTagged {
  color: rgb(0, 255, 0);
  @media (prefers-color-scheme: light) {
    filter: drop-shadow(.1rem .1rem .1rem black);
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
  }
  @media (prefers-color-scheme: dark) {
    color: gold!important;
  }
}

ul.imageGallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;

  li {
    min-width: 300px;
    max-width: 300px;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 1rem;

    figure {
      picture {
        filter: drop-shadow(.25rem .25rem 10rem rgba(255, 255, 255, 0.25));
        img {
          display: block;
          width: 100%;
          object-fit: cover;
          aspect-ratio: 1/1;
          border: .25rem solid white;
          filter: drop-shadow(.25rem .25rem 0 rgb(0, 255, 0));
        }
      }
      > figcaption, section {
        padding: .5rem;
        > a {
          text-decoration: none;
        }
      }
    }
  }
}
