section.tags {
  > a > code {
    margin-right: .2rem;
    padding: .4rem;
    border-radius: 1rem;
    display: inline-block;
    background: lightgrey;
    @media (prefers-color-scheme: dark) {
      background: rgb(33, 33, 33);
    }
  }
}

code.isTagged {
  background: rgb(0, 255, 0)!important;
  color: darkgreen;
  @media (prefers-color-scheme: dark) {
    background: gold!important;
    color: darkgreen;
  }
}
