section.tags {
  > a > code {
    margin-right: .2rem;
    padding: .4rem;
    border-radius: 1rem;
    background: rgb(33, 33, 33);
    display: inline-block;
  }
}

code.isTagged {
  background: gold!important;
  color: darkgreen;
}
